.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2rem;
}

#container, #input-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#input-container {
    display: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}



